@using Microsoft.AspNetCore.Identity
@using ReviewApp.Services;
@inject ReviewService reviewService;
@inject UserManager<UserEntity> userManager;
@{
    //Default is logged in user
    var userId = User.FindFirst("Id").Value;

    if (ViewData["UserId"].ToString() != Guid.Empty.ToString())
    {
        userId = ViewData["UserId"].ToString();
    }

    var user = userManager.Users.First(x => x.Id == userId);

    var reviews = await reviewService.GetUserReviewsAsync(userId);
}

<h1>@user.UserName</h1>

<div>Recensioner:</div>

<div>
    @foreach (var review in reviews)
    {
        <div class="border">
            <h2>@review.Rating</h2>
            <p>@review.Comment</p>
        </div>
    }

</div>


