@model AddReviewSearchItemViewModel
<h1>Ny recension</h1>

<h2>Steg 1: Välj bok</h2>

<form method="post">
    <div>
        <input asp-for="SearchString" type="text" placeholder="Sök bok" />
        <button type="submit">Sök</button>
        <a asp-action="AddItem" asp-controller="Item">Lägg till ny bok</a>
    </div>

    @if(Model != null && Model.SearchHits != null)
    {
        foreach (var item in Model.SearchHits)
        {
            <div>
                <a asp-action="AddReview2" asp-controller="Review" asp-route-itemId="@item.Id">@item.Title</a>
            </div>
        }
    }
</form>