@model AddReviewViewModel
<h1>Ny recension</h1>

<h2>Steg 2: Recensera</h2>

<form method="post">
    <div>
        <input asp-for="Rating" type="range" min="0" max="10" placeholder="Bedömmning, 1-10 *" />
    </div>

    <div>
        <input asp-for="Comment" type="text" placeholder="Beskrivning" />
    </div>
    <a asp-action="AddReview1" asp-controller="Review">Tillbaka</a>

    <input asp-for=UserId value="@User.FindFirst("Id").Value" hidden />

    @{
        var itemId = ViewData["ItemId"].ToString();
    }

    <input asp-for=ItemId value="@itemId" hidden />

    <button type="submit">Skapa</button>
</form>