@model AddReviewViewModel
<div>Ny recension</div>

<form method="post">
    <input asp-for="ItemId" type="text" placeholder="Bok" />
    <a asp-action="AddItem" asp-controller="Item">Lägg till ny bok</a>
    <input asp-for="Rating" type="number" placeholder="Bedömmning, 1-10 *" />
    <input asp-for="Comment" type="text" placeholder="Beskrivning" />

    <input asp-for=UserId value="@User.FindFirst("Id").Value" hidden/>

    <button type="submit">Skapa</button>
</form>